/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(210, 210, 176);
}

header {
  background-color: #1a5f0a92;
  color: #153717;
  text-align: center;
  padding: 1rem 0;
  border: #1d3211 1px solid;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem; /* Reduce margin for better mobile view */
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px; /* Set maximum width for the cards on large screens */
}

/* Show 3 cards in a row on large screens */
.day-card {
  background: #a7cc96;
  border: 1px solid #477d2a;
  padding: 0.5rem;
  width: calc(33.33% - (2 * 1rem)); /* Show 3 cards in a row on large screens */
  min-width: 300px; /* Set a minimum width for the cards */
}
.day-card h2 {
  text-align: center;
  color: #153717;
}
.day-card ul {
  list-style: none;
}
.day-card ul li {
  padding: 5px;
}
/* Show 2 cards in a row on medium screens */
@media screen and (max-width: 768px) {
  .day-card {
    width: calc(50% - 1rem); /* Show 2 cards in a row on medium screens */
  }
}

/* Show 1 card per row on small screens (Mobile view) */
@media screen and (max-width: 480px) {
  .day-card {
    width: 100%;
  }
}

/* Center the dots */
.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
